.Nav {
    height: 90vh;
    position: sticky;
    top: 4rem;
    left: 0;
    width: 25rem;
    border-radius: 0.7rem;
    box-shadow: var(--shadowblue70);
    background: var(--cblue70);
    overflow-y: auto;
    display: none;
    padding-top: 6rem;

    .header {
        display: block;
        padding: 2rem;
        font-size: 2.4rem;
        font-weight: bold;
        color: var(--cblue20);
    }

    .collections {
        //background: red;

        &_item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 6rem;
            padding: 0 0 0 1.7rem;

            &.active {
                background: var(--cblue20);

                & > div {
                    color: var(--dark);
                }
            }

            & > div {
                font-size: 1.3rem;
                color: var(--cblue20);
                font-weight: 600;
            }
        }
    }

    @media screen and (min-width: 900px) {
        display: block;
    }
}
